@use "base/global" as * ;

.horizontal-wrapper {
    border-radius: $border-radius;
    position: relative;
    display: flex;
    min-height: calc($poster-width * 3 / 2) + 10px;

    &::after, &::before {
      content: "";
      border-radius: inherit;
      position: absolute;
      min-height: calc($poster-width * 3 / 2) + 10px;
      width: 50px;
      top:10px;
      z-index: 1;
      display: block;
      pointer-events: none;
      
    }
  
    &::after {
      background: linear-gradient(to right, transparent, $color5);
      right: 0;
    }
    &::before {
      background: linear-gradient(to left, transparent, $color5);
      left: 0;
    }
  }

  .list-loader {
    margin: 10px auto;
    height: 280px;
    display: flex;
    align-items: center;
  }
.horizontal-list {
    @include flex-row;
    gap: 20px;
    position: relative;
    $border-radius: 20px;
    overflow-x: auto;
    min-height: max-content;
    overflow-y: hidden;
    
  
    &::-webkit-scrollbar {
      background: transparent;
      max-height: 0.6rem;
    }
  
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      background-color: transparent;
      border-radius: $border-radius;
    }
  
    @media (hover: none) {
      @include show-scrollbar;
    }
    @media (hover: hover) {
      &:hover {
        @include show-scrollbar;
      }
    }
  }

  .horizontal-list {
    border-radius: $border-radius;
    margin: 10px;
    height: 280px;
    overflow-y:hidden;
  }
  