$color0: #FFFFFF;
$color1: #F3EBE3;
$color2: #DE6E3A;
$color3: #A094AC;
$color4: #C63720;
$color5: #292134;
$color6: #000000;


@mixin hover-color($color) {

    &:hover {
        color: $color;
    }
}

@mixin hover-background-color($color) {
    &:hover {
        background-color: $color;
    }
}
