@import "flex-mixins";
@import "color";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

$header-height: 30px;
$main-block-top-margin: 20px;

@mixin fixed-bg {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  // overflow: hidden;
  z-index: -100;
  background-size: cover;
}

@mixin exact-width($width) {
  min-width: $width;
  max-width: $width;
}
@mixin exact-height($height) {
  min-height: $height;
  max-height: $height;
}

@mixin reset-intends {
  padding: 0;
  margin: 0;
  border: 0;
}

@mixin font-roboto {
  font-family: "Roboto Slab", serif;
}
// @mixin parallelogram-bg-0($color) {
//     position: relative;
//     top: -100%;
//     z-index: -1;
//     background-color: $color;
//     min-width: 100%;
//     min-height: 100%;
//     transform: skew(-20deg);
// }

@mixin parallelogram-bg($color) {
  &::after {
    content: "";
    position: relative;
    display: block;
    min-width: 100%;
    min-height: 100%;
    padding: 0px 2px;
    top: -100%;
    left: 50%;
    z-index: -1;
    background-color: $color;
    transform: skew(-20deg) translate(-50%, 0);
  }
}

@mixin main-block-width {
  max-width: min(1440px, 95vw);
}

@mixin hover-underscore($color) {
  &::after {
    $transition-time: 0.2s 0.1s;
    transition: color $transition-time, width $transition-time;
    content: "";
    background-color: $color;
    display: block;
    width: 0%;
    margin: auto;
    height: 3px;
    position: relative;
    top: 0;
    transform: skew(-20deg);
    z-index: -1;
  }

  &:hover {
    @include hover-underscore-show;
  }
}

@mixin hover-underscore-show($color: null) {
  &::after {
    width: 90%;
    @if $color {
      background-color: $color;
    }
  }
}

@mixin hover-background($color) {
  &:hover {
    background-color: $color;
  }
}

@mixin hover-color($color) {
  &:hover {
    color: $color;
  }
}

@mixin hover-opacity($opacity) {
  &:hover {
    opacity: $opacity;
  }
}

@mixin poster-width($width) {
  aspect-ratio: 2/3;
  max-width: $width;

  img {
    aspect-ratio: inherit;
    max-width: inherit;
  }
}

@mixin box-shadow-1 {
  box-shadow: 0px 0px 5px 3px rgba($color: #000000, $alpha: 0.3);
}

html,
div,
p,
a,
link,
ul,
li,
body,
* {
  @include reset-intends;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  user-select: none;
}

body,
* {
  @include font-roboto;
}

body {
  min-width: 100%;
}

img {
  display: block;
}
a {
    all:unset;
}

.separator {
  @include exact-height(0.5px);
  @include exact-width(100%);
  border-radius: 10px;
  background-color: $color2;
}

.overflow-block {
  overflow: auto;
  width: 100vw;
  max-height: calc(100vh - $header-height);
}

.main-block {
  margin: $main-block-top-margin auto 0 auto;
  @include main-block-width;
}

$border-radius: 10px;
::-webkit-scrollbar {
  background: $color5;
  max-width: 14px;
}

::-webkit-scrollbar-track {
  background-color: rgba(#000000, 0.2);
  border-radius: $border-radius;
}

::-webkit-scrollbar-thumb {
  background-color: $color2;
  border-radius: $border-radius;
}

@mixin show-scrollbar {
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: $color2, $alpha: 0.8);
  }
  &::-webkit-scrollbar-track {
    background-color: rgba($color: $color6, $alpha: 0.2);
  }
}
