

.horizontal-list {
    @include flex-row;
    gap: 20px;
    position: relative;
    $border-radius: 20px;
    overflow-x: auto;
    min-height: max-content;
    padding: 5px 0;
    .list-element {
        @include flex-column;

        .title {
            font-size: 1.05rem;
            color:$color1;
        }

        .subtitle{ 
            font-size: 0.9rem;
            color:$color3;
        }
    }


    &::-webkit-scrollbar {
        background:transparent;
        max-height: 0.6rem;

    }

    &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track{
        background-color: transparent;
        border-radius: $border-radius;
    }

    
    @media (hover:none) {
        @include show-scrollbar;
    }
    @media (hover:hover) {
        &:hover {

            @include show-scrollbar;
        }
    
    }

    
}