.film-info-nav {
  @include flex-row;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 24px;
  margin: 10px;
  text-transform: capitalize;
  color: $color3;
  justify-content: flex-start;
  column-gap: 50px;
  row-gap: 10px;
  $transition-time: 0.4s 0.1s;
  @media screen and (max-width: 425px) {
    @include flex-row;
    justify-content: space-around;

    align-items: center;
    .nav-option {
      padding: 0 30px;
    }
  }

  @media screen and (max-width: 800px) {
    justify-content: center;
  }
  .nav-option {

    color: $color3;
    @include hover-color($color1);
    transition: color $transition-time;
    @include hover-underscore($color1);
  }

  &:hover {
    .nav-option:not(:hover) {
      // color: $color2;
    }
  }
}
