@import "global";
@import "toggle-switch";
@import "choice";
@import "header";
@import "horizontal-list";

.filmlist-block {
  color: $color1;
  $transition-time: 0.2s 0.05s;

  .poster {
    $border-radius: 10px;
    $border-width: 2px;
    $poster-width: 170px;

    border-radius: $border-radius;
    border: $border-width solid transparent;
    transition: border $transition-time;
    @include poster-width($poster-width);
    position: relative;

    cursor: pointer;
    .title,
    .subtitle {
      position: absolute;
      left: 50%;
      width: max-content;
      transform: translate(-50%, -100%);
      opacity: 0;
      z-index: 1;
      text-align: center;
      transition: all $transition-time;
    }

    .title {
      color: $color1;
      top: 20%;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .subtitle {
      color: $color3;

      top: 80%;
    }

    img {
      transition: filter $transition-time;
      border-radius: $border-radius;
      @include box-shadow-1;
    }

    &:hover {
      border: $border-width solid $color1;

      img {
        filter: brightness(18%);
      }
      .title,
      .subtitle {
        opacity: 1;
      }

      .title {
        top: calc(50% - 1rem);
      }
      .subtitle {
        top: calc(50% + 1rem);
      }
    }
  }

  .horizontal-list {
    margin: 10px;
    height: 280px;
  }

  @media screen and (max-width: 480px) {
    .filmlist-title-div {
      @include flex-column;
      align-items: center;
    }
  }
}

.filmlist-title-div {
  @include flex-row;
  gap: 10px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 10px 0;
  text-shadow: 3px 3px 3px rgba($color: #000000, $alpha: 0.2);
}
