<div class="filmlist-block" id="trending" *ngIf="type === 'trending'; else checkUpcoming">
    <app-filmlist-title titleText="У тренді">
      
        <app-toggle-switch 
          leftChoice="Сьогодні"
          rightChoice="Цього тижня"
          (rightChosen)="updateList($event)"
          
        ></app-toggle-switch>
      </app-filmlist-title>
    <app-horizontal-list [movieList]="movieList" [loading]="loading"></app-horizontal-list>
</div>

<ng-template #checkUpcoming>
  <div class="filmlist-block" id="upcoming" *ngIf="type === 'upcoming'; else checkSimilar">
      <app-filmlist-title>
        <app-multi-choice
          leftChoice="Прем'єра"
          rightChoice="У кінотеатрах"
          (rightChosen)="updateList($event)"
          ></app-multi-choice>
      </app-filmlist-title>
      <app-horizontal-list [movieList]="movieList" [loading]="loading"></app-horizontal-list>
  </div>
</ng-template>


<ng-template #checkSimilar>
  <div class="film-similar filmlist-block" id="similar" *ngIf="type === 'similar'; else invalidType">
    <app-filmlist-title>Схожі</app-filmlist-title>
    <app-horizontal-list [movieList]="movieList" [loading]="loading"></app-horizontal-list>
  </div>
</ng-template>
<ng-template #invalidType>
<div class="filmlist-title-div">
  <p class="filmlist-title"></p> 
  </div>
</ng-template> 
