@use "base/global" as *;

.film-info-section {
    max-width: 900px;
    flex-grow: 1;
  }
  
  .movie-page-block {
    @include flex-row;
    justify-content: center;
  
    @media screen and (max-width: 1080px) {
      @include flex-column;
      .actors-block {
          max-width: unset;
          min-width: unset;
          margin-top: 10px;
          .block-title {
            font-size: 1.8rem;
          }
          .actors {
            gap: 40px;
  
          }
      }
    }
  }
  


  .movie-page-loader {
    margin: auto;
    max-width: max-content;
  }