@use "base/global" as *;

.search-results {
  @include flex-column;
  margin: 20px 0;
  gap: 15px;
  
}

.no-results {
  color: $color3;
  margin: auto;
  font-size: 1.3rem;
  opacity: 0.8;
  font-style: italic;
  text-align: center;
  font-weight: 500;
}