@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
div,
p,
a,
link,
ul,
li,
body,
* {
  padding: 0;
  margin: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body,
* {
  font-family: "Roboto Slab", serif;
}

body {
  min-width: 100%;
}

img {
  display: block;
}

a {
  all: unset;
}

.separator {
  min-height: 0.5px;
  max-height: 0.5px;
  min-width: 100%;
  max-width: 100%;
  border-radius: 10px;
  background-color: #DE6E3A;
}

.overflow-block {
  overflow: auto;
  width: 100vw;
  max-height: calc(100vh - 30px);
}

.main-block {
  margin: 20px auto 0 auto;
  max-width: min(1440px, 95vw);
}

::-webkit-scrollbar {
  background: #292134;
  max-width: 14px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #DE6E3A;
  border-radius: 10px;
}

.search-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}
.search-block .searcher {
  width: 100%;
}
.search-block .autocomplete-div {
  margin-top: 3px;
  position: absolute;
  top: 36px;
  width: inherit;
  background-color: #F3EBE3;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  transition: background-color 0.2s, opacity 0.2s;
}
.search-block .autocomplete-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
  padding-left: 10px;
  border-radius: inherit;
}
.search-block .autocomplete-option:hover {
  background-color: #FFFFFF;
}
.search-block .additional-info {
  font-size: 0.8rem;
  opacity: 0.8;
}

.search-input {
  all: unset;
  height: 36px;
  width: inherit;
  padding-left: 5px;
  background-color: #A094AC;
  border-radius: 8px;
}
.search-input::-moz-placeholder {
  color: #292134;
}
.search-input:-ms-input-placeholder {
  color: #292134;
}
.search-input::placeholder {
  color: #292134;
}
.search-input:focus ~ .autocomplete-div {
  pointer-events: all;
  opacity: 1;
}
.search-input:-moz-placeholder-shown ~ .autocomplete-div {
  pointer-events: none;
  opacity: 0;
}
.search-input:-ms-input-placeholder ~ .autocomplete-div {
  pointer-events: none;
  opacity: 0;
}
.search-input:placeholder-shown ~ .autocomplete-div {
  pointer-events: none;
  opacity: 0;
}

.search-btn {
  all: unset;
  margin-left: 10px;
  background-color: #DE6E3A;
  height: 36px;
  padding: 0 5px;
  border-radius: 8px;
  opacity: 0.8;
  display: block;
  transition: opacity 0.2s;
}
.search-btn:hover {
  opacity: 1;
}

.main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 30px;
  background-color: #DE6E3A;
  color: #F3EBE3;
  z-index: 100;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.logo-div {
  font-size: 22px;
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.2));
  margin: 0 5px;
}
.logo-div a {
  all: unset;
  cursor: pointer;
}
.logo-div::after {
  font-size: 0.9rem;
  content: ".UA   Фільмів - багато, сайт - один";
  white-space: pre;
}
@media screen and (max-width: 600px) {
  .logo-div::after {
    content: ".UA";
  }
}

.nav-header {
  max-width: min(1440px, 95vw);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.menu-header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  margin-left: 10px;
}
.menu-header li {
  list-style-type: none;
}
.menu-header li a {
  all: unset;
  cursor: pointer;
  transition: color 0.2s;
}
.menu-header li a:hover {
  color: #292134;
}

@media screen and (max-width: 450px) {
  .main-header {
    height: unset;
    text-align: center;
    margin: 0;
  }
  .nav-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: unset;
    margin: 0;
  }
  .menu-header {
    margin: unset;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .menu-header li {
    font-size: 20px;
  }
}
.search-results {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 15px;
}
.search-results .list-element {
  display: flex;
  flex-direction: row;
  background-color: rgba(160, 148, 172, 0.4);
  border-radius: 8px;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
}
.search-results .poster {
  border-radius: inherit;
  align-self: center;
}
.search-results .poster img {
  aspect-ratio: 2/3;
  max-width: 120px;
  border-radius: inherit;
}
.search-results .poster img img {
  aspect-ratio: inherit;
  max-width: inherit;
}
.search-results .details {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  min-height: 100%;
}
.search-results .title {
  justify-self: flex-start;
  font-size: 1.5rem;
}
.search-results .subtitle {
  font-size: 0.9rem;
  line-height: 1rem;
}
.search-results .description {
  margin-top: auto;
  margin-bottom: auto;
}
@media screen and (max-width: 800px) {
  .search-results .poster img {
    max-width: 100px;
  }
  .search-results .details {
    margin-top: auto;
    margin-bottom: auto;
  }
  .search-results .title {
    font-size: 1.2rem;
  }
  .search-results .subtitle {
    font-size: 0.8rem;
  }
  .search-results .description {
    font-size: 0.7rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
}/*# sourceMappingURL=search.css.map */