$header-height: 30px;
$main-block-top-margin: 20px;
$border-radius: 10px;
$poster-width: 170px;
$border-width: 2px;
$searcher-border-radius: 8px;
$searcher-height: 36px;
$searcher-padding-left: 5px;
$search-results-border-radius: $searcher-border-radius;
